.nav__item a,
.nav__item a:hover,
.nav__item a:visited,
.nav__item a:active {
    color: var(--color-muted);
    text-decoration: none;
    background-color: var(--color-neutral-4);
}


@media (max-width: 640px) {
    .nav__item {
        display: none;
    }
}