.ModalOptions__Container {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    background: var(--color-neutral-5);
    padding: var(--bd-regular-padding);
    position: relative;
}

.ModalOptions__ViewChange {
    background: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
    display: flex;
    align-items: center;
    margin: var(--bd-card-margin);
    color: var(--color-neutral-3);
    gap: var(--bd-regular-gap);
}

.ModalOptions__Create {
    background: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
    display: flex;
    align-items: flex-end;
    margin: var(--bd-card-margin);
    color: var(--color-neutral-3);
    gap: var(--bd-regular-gap);
}